<div>
    <div class="card">
        <h2 class="">{{post.title}} </h2>
        <p class="" name="post-id" data-postid="{{post.id}}">{{post.id}}</p>
        <p class="">Created: {{formatDate post.createdAt 'MM/DD/YY'}} </p>
        {{#if post.user.username}}
        <p class=""> By: {{post.user.username}} </p>
        {{/if}}
        <p class=""> {{post.post_content}} </p>
    </div>
