{{>nav-component}}
<h1>Welcome to the Homepage</h1>

<h2>Logged In: {{isLoggedIn}}</h2>
<section>
{{#each posts as |post|}}
    <a href="/edit-post/{{post.id}}">
      <div id="blog-post-id">
        <h2>{{post.title}}</h2>
        <p>{{post.post_content}}</p>
      </div>
    </a>
    <div id="blog-post-id">
      <h2>{{post.title}}</h2>
      <p>{{post.post_content}}</p>
    </div>
{{/each}}
</section>


