<!-- Dashboard -->
{{>nav-component}}
<h1>ADMIN Dashboard</h1>
<a href="/new-post" alt="new post">New Post</a>


{{#each posts as |post|}}
  <div id="post-{{post.id}}">
    <h2 class="editable">{{post.title}}</h2>
    <p class="editable">{{post.post_content}}</p>
    <button class="edit" data-id="{{post.id}}">Edit</button>
    <button class="delete" data-id="{{post.id}}">Delete</button>
  </div>
{{/each}}
{{>new-post-component}}
<script defer src="/js/admin.js" defer></script>
