{{>nav-component}}
<h1>Welcome to the Homepage</h1>



{{#each posts as |post|}}

    <a href="/post/{{post.id}}">

      <div id="blog-post-id">
        <h2>{{post.title}}</h2>
        <p>{{post.post_content}}</p>
      </div>
    </a>
  {{else}}
    <div id="blog-post-id">
      <h2>{{post.title}}</h2>
      <p>{{post.post_content}}</p>
    </div>

{{/each}}
