<div>
    <div class="card">
        <h2 class="card-header"> {{post.title}} </h2>
        <p class="card-header" name="post-id">{{post.id}}</p>
        <p class="card-header"> {{post.created_at}} </p>
        {{#if post.user_id.username}}
        <p class="card-header"> {{post.user_id.username}} </p>
        {{/if}}
        <p class="card-body"> {{post.post_content}} </p>
    </div>
    {{#each post.comments as |comment|}}
    <div class="card">
        <p class="card-header"> commented by: {{comment.user_id.username}} on {{comment.created_at}}</p>
        <p class="card-body"> {{comment.comment_text}} </p>
    </div>
    {{/each}}
    <label for="comment">Share your thoughts:</label><br>
    <textarea name="comment-body" id="comment" type="text"  rows="5" cols="135"></textarea>
    <button id="new-comment-form" class="btn btn-primary">Leave Comment</button>
</div>
